/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /* Dùng màu xanh rêu nhạt tạo cảm giác thư thái */
  /* CỰC CHÚ Ý ĐOẠN NÀY: Dùng Gradient 3 màu rộng 400% */
    background: linear-gradient(-45deg, #1d3557, #34a853, #15420f, #2ecc71);
    background-size: 400% 400%; /* Phóng to để màu chuyển động */
    
    /* Gọi hiệu ứng animation */
    animation: gradientAnimation 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.login-box {
    background: white;
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    text-align: center;
}

/* HEADER */
.login-header .icon {
    font-size: 70px;
    margin-bottom: 10px;
}

.login-header h1 {
    color: #0f9d58; /* Màu xanh lá đặc trưng của thầy */
    font-size: 32px;
    margin-bottom: 5px;
}

.login-header p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

/* FORM */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #0f9d58;
    box-shadow: 0 0 5px rgba(15, 157, 88, 0.2);
}

/* OPTIONS */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.options a {
    color: orange; /* Màu cam menu thầy thích */
    text-decoration: none;
}

/* BUTTON */
.btn-login {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #0f9d58, #34a853);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(15, 157, 88, 0.3);
}

.footer-link {
    margin-top: 25px;
    font-size: 13px;
    color: #666;
}

.footer-link a {
    color: #0f9d58;
    text-decoration: none;
    font-weight: 600;
}
